{% extends 'base.html' %}
{% block head %}
<style>
body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url("/static/321.gif");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
 <center>
    <h1 style="font-family:fantasy;">MOVIEBASE<h1>
</center>
{% endblock head %}
{% block body %}
<div class="parallax style=margin-top:auto;"></div>
<div style="background-color:#ffc107;text-align:center; font-family:fantasy; color:black; font-size:900%;">"It's Show Time !"</div>
<img src = "/static/ani.gif" style="width:100%;height:auto;display:block;margin-left:auto;margin-right:auto;">
<div class="parallax"></div>
<div style="background-color:#ffc107;text-align:center; font-family:fantasy;color:black; font-size:400%;">One stop for all your movie needs</div>


{% endblock body %}