{% extends 'base_user.html' %}
{% block head %}
    <center>
    <h1 style="font-family:fantasy;" >LIKED MOVIES<h1>
    </center>
{% endblock head %}


{% block body %}
    <table class="table table-hover table-dark text-warning" style="text-align:center;">
        <tbody>
            {% for i in result %}
            <tr data-toggle="modal" data-target="#exampleModalScrollable">
                <td>{{ i[1] }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bg-warning">
          
        </div>
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-warning"data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    

    <script>
        
        $(document).ready(function(){
            $("tr").on('click',function(){
                var title;
                title=$(this).find("td:first").text();
                $.ajax({
                    type:'GET',
                    url:"http://www.omdbapi.com/?t="+title+"&apikey=1dbc5c2c",
                    dataType:'json',
                    success: function(data){ 
                       $(".modal-body").html('<table class="table table-dark bg-warning text-dark"> <tr><th> Title </th><td>' + data.Title + '</td></tr>' +
                                            '<tr><th> Year</th><td>' + data.Year + '</td></tr>' +
                                            '<tr><th> Rated</th><td>' + data.Rated + '</td></tr>' +
                                            '<tr><th> Released</th><td>' + data.Released + '</td></tr>' +
                                            '<tr><th> Genre</th><td>' + data.Genre + '</td></tr>' +
                                            '<tr><th> Actors</th><td>' + data.Actors + '</td></tr>' +
                                            '<tr><th> Plot</th><td>' + data.Plot+ '</td></tr>' +
                                            '<tr><th> Language</th><td>' + data.Language + '</td></tr>' +
                                            '<tr><th> Awards</th><td>' + data.Awards+ '</td></tr></table>');                                                
                            
                    }
                            
            });
        });
    });
        
    </script>


    
{% endblock body %}