{% extends 'base.html' %}

{% block title %}
    MOVIE BASE
{% endblock title %}

{% block head %}
    <center>
    <h1 style="font-family:fantasy;" >Sign Up<h1>
    </center>
{% endblock head %}

{% block body %}
   

    <div>
        {% block pop %}
            {% if flag == 1 %}
                Account created 
            {% endif %}
            {% if flag == 2 %}
                Password does not Satisfy Parameters 
            {% endif %}
            {% if flag == 3 %}
            Enter a Valid Email 
            {% endif %}
            {% if flag == 4 %}
                Already Registered
            {% endif %}
            {% if flag == 5 %}
                An Error had Occured 
            {% endif %}
        {% endblock pop %}
    </div>
    
    <div align="center" style="background-color: #202020;width:30%;height:200px;margin: auto;margin-top: 5%;" >
        <h7 style="font-family:fantasy;">Password must contain 5 letters, 1 uppercase, 1 lowercase, 1 special character</h7>
        
        <form action= "{{ url_for('signup') }}" , method="POST">
            <table class ="table table-borderless bg-warning" style="text-align: center;border-radius:15px; ">
            <tr> 
                <td style="font-family:fantasy;">Name</td><td><input type="text"  style="background-color:#202020; color:#ffc107; border-color: #202020;" name="name" placeholder="Enter name"></td>
            </tr>
            <tr>
                <td style="font-family:fantasy;">Email</td><td><input type="text"  style="background-color:#202020; color:#ffc107; border-color: #202020;" name="email" placeholder="Enter email"></td>
            </tr> 
            <tr> 
                <td style="font-family:fantasy;">Password</td><td><input type="text"  style="background-color:#202020; color:#ffc107; border-color: #202020;" name="pass_word" placeholder="Enter password"></td>
            </tr>
            
            <tr><td colspan="2"><input  class="btn btn-dark" type="submit" style="font-family:fantasy;" value="Submit"></td></tr>
        </table>
        </form>

    </div>

{% endblock body %}
